{% extends 'base.html' %}


{% block title %}
Hotel {{ hotel.name }} - MyTrip
{% endblock %}



{% block content %}


<div class="bg-white rounded-lg shadow p-4">


{% if hotel.hero_image %}

<img 
src="{{ hotel.hero_image.url }}"
class="w-full h-64 object-cover rounded-lg mb-4">

{% endif %}



<h1 class="text-xl font-bold">
{{ hotel.name }}
</h1>


<p>
{{ hotel.city }}
</p>


<p>
Price:
৳{{ hotel.price_per_night }}
</p>



<!-- WEATHER SECTION START -->

<h2 class="text-xl font-bold mt-5">
Weather Information
</h2>


{% if weather %}

<div class="bg-gray-100 p-4 rounded mt-3">


<p>
Location:
<b>{{ weather.location.name }}</b>
</p>


<p>
Country:
<b>{{ weather.location.country }}</b>
</p>


<p>
Temperature:
<b>{{ weather.current.temp_c }} °C</b>
</p>


<p>
Condition:
<b>{{ weather.current.condition.text }}</b>
</p>


<p>
Humidity:
<b>{{ weather.current.humidity }} %</b>
</p>


<p>
Wind:
<b>{{ weather.current.wind_kph }} km/h</b>
</p>


<img 
src="https:{{ weather.current.condition.icon }}"
class="mt-3">


</div>


{% else %}


<p class="text-gray-600 mt-3">
Weather data not available.
</p>


{% endif %}


<!-- WEATHER SECTION END -->



<a href="{% url 'hotel_book' hotel.pk %}"
class="px-4 py-2 bg-primary text-white rounded-md inline-block mt-5">

Book Now

</a>


</div>


{% endblock %}